In [19]:
import warnings
warnings.filterwarnings("ignore")
#ignoring unnecessary warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk                                         #Natural language processing tool-kit

from nltk.corpus import stopwords                   #Stopwords corpus
from nltk.stem import PorterStemmer                 # Stemmer

from sklearn.feature_extraction.text import CountVectorizer          #For Bag of words
from sklearn.feature_extraction.text import TfidfVectorizer          #For TF-IDF
from gensim.models import Word2Vec                                   #For Word2Vec

In [20]:
data = pd.read_csv("sms_spam.csv")
data.head(5)

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4  spam  okmail: Dear Dave this is your final notice to...

## Data Preprocessing Steps

-> Removing Numbers from text

-> removing punctuations

-> removing stop words

-> stemming

-> uppercase to all lowercase

In [11]:
#showing all the stopwords

stop = set(stopwords.words("english"))
print(stop)

AttributeError: 'set' object has no attribute 'words'

In [21]:
final_X = data["text"]
final_Y = data["type"]
import re
temp = []

snow = nltk.stem.SnowballStemmer('english') 
#object for stem

for sentence in final_X:
    sentence = sentence.lower()
    #converting sentences to lowercase

    sentence = re.sub(r'[?|!|\'|"|#]',r' ', sentence)
    sentence = re.sub(r'[.|,|)|(|\|/]',r' ',sentence)        
    #removing punctuations
    
    sentence = re.sub(r'[0-9\.]+',' ', sentence)
    #removing numbers
    
    words = [snow.stem(word) for word in sentence.split() if word not in stopwords.words('english')]
    #stemming and removing stopwords
    
    temp.append(words)

final_X = temp

print(final_X[1])

['k', 'give', 'back', 'thank']

In [22]:
sentence = []
for row in final_X:
    sequence = ''
    for word in row:
        sequence = sequence + ' ' + word
    sentence.append(sequence)
    
#loop to form sentence from tokenised list of words

final_X = sentence
print(final_X[1])

 k give back thank

In [25]:
preprocessed_data = pd.DataFrame({'type':final_Y,
                                 'text':final_X})
preprocessed_data.head(5)

   type                                               text
0   ham                               hope good week check
1   ham                                  k give back thank
2   ham                                       also cbe pay
3  spam   complimentari star ibiza holiday £ cash need ...
4  spam   okmail: dear dave final notic collect * tener...

## Task Accomplished